/* @import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap'); */

@import url("https://fonts.googleapis.com/css2?family=Outfit&family=PT+Mono&display=swap");

body {
  margin: 0;
  font-family: "PT Mono", monospace !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Use solid background requested by user: rgb(12,65,96) */
  background-image: none;
  background-color: rgb(7, 19, 48);
}
